.team {
  .tiles-item-inner {
    background: get-color(dark, 2);
  }
}

.team-item-content {
  position: auto;

  &::before {
    margin-left: 100px;
  }
}

.team-item-footer {
  font-weight: 600;
  text-align: center;

  &.has-bottom-divider {
    &::before {
      background: get-color(dark, 3);
    }
  }
}

.team-item-link {
  color: get-color(secondary, 3);

  a {
    color: get-color(secondary, 3);
    text-decoration: none;

    &:hover {
      color: get-color(secondary, 2);
    }
  }
}
